In [1]:
import json
from urllib.request import urlopen
import pandas as pd
from pulp import *
import re

In [2]:
#Set number of available players
formations = [
    {'GKP': 1, 'DEF': 3, 'MID': 4, 'FWD': 3},
    {'GKP': 1, 'DEF': 3, 'MID': 5, 'FWD': 2},
    {'GKP': 1, 'DEF': 4, 'MID': 5, 'FWD': 1},
    {'GKP': 1, 'DEF': 4, 'MID': 4, 'FWD': 2},
    {'GKP': 1, 'DEF': 4, 'MID': 3, 'FWD': 3} 
]

#Set Budget

BUDGET = 90

In [3]:
class Dataset():
    
    def get_url(self, key, Id=None):
        base_url = 'https://fantasy.premierleague.com/drf'
        api = {
            'All': '/bootstrap-static',
            'Player': '/element-summary/{}',
            'Team':'/my-team/48049/{}',
            '1':'/bootstrap',
            '2':'/bootstrap-static',
            '3':'/bootstrap-dynamic',
            '4':'/events',
            'player_stats':'/elements',
            'player_positions':'/element-types',
            '7':'/fixtures',
            'teams':'/teams',
            '9':'/region',
            '10':'/transfers',
            '11':'/entry/{}',
            '12':'/entries',
            '13':'/my-team/{}',
            '14':'/leagues-entered/{}',
            '15':'/leagues-classic/{}',
            '16':'/leagues-classic-standings/{}',
            '17':'/leagues-h2h/{}',
            '18':'/leagues-h2h-standings/{}'
        }

        if Id is None:
            url = ''.join([base_url, api[key]])
        else:
            api_extension = api[key]
            api_extension = api_extension.format(Id)
            url = ''.join([base_url, api_extension])
        return url

    def pull_data(self, key, Id=None):
        json_data = json.load(urlopen(self.get_url(key, Id)))
        df = pd.read_json(json.dumps(json_data))
        return df

    def get_player_data(self, active=False):
        player_stats = self.pull_data('player_stats')
        player_positions = self.pull_data('player_positions')[['id', 'singular_name_short']]
        player_teams = self.pull_data('teams')[['code', 'name']]
        
        player_table = player_stats.merge(player_positions, left_on='element_type', right_on='id')
        player_table = player_table.merge(player_teams, left_on='team_code', right_on='code')
        player_table['now_cost'] = player_table['now_cost']/10
        if active:
            player_table = player_table.loc[player_table['chance_of_playing_next_round'] == 100]
            player_table = player_table.reset_index()
        return player_table
    
    def model_data(self):
        active_players = self.get_player_data(True)
        player_pool = active_players[['web_name', 'singular_name_short', 'now_cost', 'total_points', 'name']]
        player_pool.columns = ['web_name', 'position', 'cost', 'total_points', 'team_name']
        
        costs = {}
        points = {}
        
        for pos in player_pool.position.unique():
            pos_players = player_pool.loc[player_pool.position == pos]
            cost = list(pos_players[['web_name', 'cost']].set_index('web_name').to_dict().values())[0]
            point = list(pos_players[['web_name', 'total_points']].set_index('web_name').to_dict().values())[0]
            costs[pos] = cost
            points[pos] = point

        return (costs, points)

In [4]:
class TeamSolutions():
    def __init__(self, data, formations, budgets):
        self.formations = formations
        self.budgets = budgets
        self.costs, self.points = data
        self._vars = _vars = {pos: LpVariable.dict(pos, players, cat="Binary") for pos, players in self.points.items()}
        
    def solve_problem(self, formation, budget):
        #Starting the problem

        prob = LpProblem('Naive_total_score_max', LpMaximize)
        rewards = []
        Costs = []
        position_constraints = []

        #Reward

        for pos, players in self._vars.items():
            Costs += lpSum([self.costs[pos][player] * self._vars[pos][player] for player in players])
            rewards += lpSum([self.points[pos][player] * self._vars[pos][player] for player in players])
            prob += lpSum([self._vars[pos][player] for player in players]) <= formation[pos]

        prob += lpSum(rewards)
        prob += lpSum(Costs) <= budget
        
        prob.solve()
        return prob
   
    def print_summary(self, prob):
        div = '----------------------------\n'
        print("Variables:\n")
        score = str(prob.objective)
        constraints = [str(const) for const in prob.constraints.values()]
        for v in prob.variables():
            score = score.replace(v.name, str(v.varValue))
            constraints = [const.replace(v.name, str(v.varValue)) for const in constraints]
            if v.varValue != 0:
                print(v.name, "=", v.varValue)
        print(div)
        print("Constraints:")
        for constraint in constraints:
            constraint_pretty = " + ".join(re.findall("[0-9\.]*\*1.0", constraint))
            if constraint_pretty != "":
                print("{} = {}".format(constraint_pretty, eval(constraint_pretty)))
        print(div)
        print("Score:")
        score_pretty = " + ".join(re.findall("[0-9\.]+\*1.0", score))
        print("{} = {}".format(score_pretty, eval(score)))
    
    def summarise(self, prob):
        Players = []
        Budget = {}
        Score = {}
        
        score = str(prob.objective)
        constraints = [str(const) for const in prob.constraints.values()]
        
        for v in prob.variables():
            score = score.replace(v.name, str(v.varValue))
            constraints = [const.replace(v.name, str(v.varValue)) for const in constraints]
            if v.varValue != 0:
                Players.append(v.name)


        for player in Players:
            position = player[0:3]
            web_name = player[4:].replace("_"," ")
            Budget[web_name] = self.costs[position][web_name]
            Score[player] = self.points[position][web_name]

        Budget['Total'] = sum(Budget.values())
        Score['Total'] = sum(Score.values())
        return {'Players': Players,'Budget': Budget,'Score': Score}

    def solve_for_all_formations(self):
        possible_teams = []
        for formation in formations:
            possible_team = self.solve_problem(formation, self.budgets)
            team_summary = self.summarise(possible_team)
            possible_teams.append(team_summary)
        return possible_teams

In [5]:
dataset = Dataset()
data = dataset.model_data()

In [6]:
team_model = TeamSolutions(data, formations, BUDGET)

In [7]:
possible_teams = team_model.solve_for_all_formations()

In [8]:
dataset.get_player_data()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code_x,cost_change_event,cost_change_event_fall,cost_change_start,...,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards,id_y,singular_name_short,code_y,name
0,0,3,130,100.0,100.0,1,11334,0,0,-1,...,112720,814,0.0,4.9,Cech,0,1,GKP,3,Arsenal
1,0,1,105,NaN,NaN,0,80201,0,0,-2,...,82552,886,0.7,3.8,Leno,0,1,GKP,3,Arsenal
2,0,0,0,NaN,NaN,0,98980,0,0,0,...,3495,284,0.0,0.0,Martínez,0,1,GKP,3,Arsenal
3,0,0,0,0.0,0.0,0,51507,0,0,-1,...,4245,33,0.0,0.0,Koscielny,0,2,DEF,3,Arsenal
4,4,3,222,100.0,100.0,2,98745,0,0,-1,...,579994,9283,0.3,7.6,Bellerín,2,2,DEF,3,Arsenal
5,1,2,124,0.0,0.0,2,38411,0,0,0,...,166005,3134,0.0,5.5,Monreal,1,2,DEF,3,Arsenal
6,0,5,129,NaN,NaN,1,156074,0,0,-1,...,26158,636,0.6,5.0,Holding,1,2,DEF,3,Arsenal
7,0,1,221,NaN,NaN,2,69140,0,0,-1,...,56004,1037,0.4,6.5,Mustafi,2,2,DEF,3,Arsenal
8,2,3,57,100.0,100.0,0,111457,0,0,-1,...,22533,286,1.0,3.1,Kolasinac,0,2,DEF,3,Arsenal
9,0,0,0,0.0,0.0,0,233963,0,0,-3,...,8944,29,0.0,0.0,Mavropanos,0,2,DEF,3,Arsenal
10,0,0,8,75.0,75.0,0,27335,0,0,-4,...,96951,616,0.0,0.7,Lichtsteiner,1,2,DEF,3,Arsenal
11,0,0,78,100.0,100.0,0,39476,0,0,-4,...,97590,336,0.1,1.2,Sokratis,4,2,DEF,3,Arsenal
12,0,0,0,NaN,NaN,0,209037,0,0,0,...,764,80,0.0,0.0,Medley,0,2,DEF,3,Arsenal
13,1,7,180,100.0,100.0,2,37605,0,0,-2,...,413503,19092,0.1,5.5,Özil,1,3,MID,3,Arsenal
14,4,1,136,100.0,100.0,3,41792,-1,1,-2,...,162590,2020,0.3,5.3,Ramsey,0,3,MID,3,Arsenal
15,3,0,116,100.0,100.0,0,153133,0,0,0,...,119749,1554,0.4,5.3,Iwobi,0,3,MID,3,Arsenal
16,0,0,0,100.0,100.0,0,153256,0,0,-2,...,140004,1158,0.0,0.0,Elneny,0,3,MID,3,Arsenal
17,1,2,186,NaN,NaN,2,84450,0,0,-2,...,208386,3941,0.4,7.2,Xhaka,4,3,MID,3,Arsenal
18,1,4,115,100.0,100.0,0,57249,0,0,-3,...,1195633,3267,0.6,5.1,Mkhitaryan,0,3,MID,3,Arsenal
19,0,0,0,0.0,0.0,0,200641,0,0,-1,...,30179,86,0.0,0.0,Nelson,0,3,MID,3,Arsenal
20,0,0,7,100.0,100.0,0,154043,0,0,-1,...,26826,112,0.0,0.2,Maitland-Niles,0,3,MID,3,Arsenal
21,2,1,163,100.0,100.0,2,198849,0,0,-1,...,86244,1498,0.4,5.7,Torreira,2,3,MID,3,Arsenal
22,0,0,97,100.0,100.0,0,242166,0,0,0,...,181229,1437,0.2,2.7,Guendouzi,2,3,MID,3,Arsenal
23,0,0,0,NaN,NaN,0,209289,0,0,0,...,113,17,0.0,0.0,Smith-Rowe,0,3,MID,3,Arsenal
24,1,3,63,0.0,0.0,0,50175,0,0,0,...,43329,600,0.0,2.9,Welbeck,0,4,FWD,3,Arsenal
25,4,8,198,75.0,100.0,2,59966,0,0,2,...,680884,60890,0.3,6.2,Lacazette,1,4,FWD,3,Arsenal
26,2,13,285,100.0,100.0,3,54694,0,0,-1,...,1026436,16484,0.4,6.9,Aubameyang,0,4,FWD,3,Arsenal
27,0,0,3,NaN,NaN,0,205533,0,0,0,...,81,33,0.1,0.2,Nketiah,0,4,FWD,3,Arsenal
28,0,2,222,100.0,75.0,4,40349,0,0,0,...,138560,2259,0.4,9.6,Begovic,0,1,GKP,91,Bournemouth
29,0,0,0,NaN,NaN,0,18726,0,0,0,...,121619,1119,0.0,0.0,Boruc,0,1,GKP,91,Bournemouth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,0,0,0,100.0,100.0,0,40142,0,0,-1,...,2510,55,0.0,0.0,Carroll,0,4,FWD,21,West Ham
524,1,1,62,100.0,100.0,1,43020,0,0,-3,...,108522,583,0.4,3.1,Chicharito,0,4,FWD,21,West Ham
525,0,0,0,0.0,0.0,0,167522,0,0,0,...,1115,4,0.0,0.0,Hugill,0,4,FWD,21,West Ham
526,0,0,16,NaN,NaN,0,155851,0,0,-3,...,12856,63,0.0,0.8,Lucas,0,4,FWD,21,West Ham
527,0,0,0,NaN,NaN,0,19236,0,0,-2,...,12437,78,0.0,0.0,Ruddy,0,1,GKP,39,Wolves
528,0,0,0,NaN,NaN,0,168399,0,0,0,...,40306,349,0.0,0.0,Norris,0,1,GKP,39,Wolves
529,0,4,237,NaN,NaN,4,38533,0,0,1,...,202065,5013,0.4,10.9,Patrício,0,1,GKP,39,Wolves
530,0,3,238,NaN,NaN,4,90585,0,0,1,...,155681,4380,0.3,10.0,Boly,0,2,DEF,39,Wolves
531,0,0,0,0.0,0.0,0,57913,0,0,0,...,2605,4,0.0,0.0,Douglas,0,2,DEF,39,Wolves
532,2,9,226,100.0,100.0,4,87835,0,0,4,...,289757,15087,0.2,11.2,Doherty,1,2,DEF,39,Wolves
533,0,0,7,NaN,NaN,0,107613,0,0,-3,...,10079,35,0.0,0.5,Saïss,0,2,DEF,39,Wolves
534,0,1,192,NaN,NaN,4,41727,0,0,2,...,303968,5478,0.2,8.3,Bennett,3,2,DEF,39,Wolves
535,0,0,0,0.0,0.0,0,77610,0,0,0,...,62738,326,0.0,0.0,Batth,0,2,DEF,39,Wolves
536,0,0,0,0.0,0.0,0,67184,0,0,0,...,3420,21,0.0,0.0,Miranda,0,2,DEF,39,Wolves
537,0,2,222,NaN,NaN,4,94147,0,0,0,...,19955,412,0.3,8.2,Coady,2,2,DEF,39,Wolves
538,0,0,27,NaN,NaN,0,216054,0,0,-2,...,4724,106,0.1,1.2,Vinagre,0,2,DEF,39,Wolves
539,1,4,204,0.0,0.0,4,114128,-1,1,-1,...,142273,13443,0.5,10.2,Jonny,2,2,DEF,39,Wolves
540,0,0,0,NaN,NaN,0,123354,0,0,0,...,10950,193,0.0,0.0,Hause,0,2,DEF,39,Wolves
541,1,0,59,100.0,100.0,4,194634,0,0,-6,...,298352,503,0.1,4.1,Jota,3,3,MID,39,Wolves
542,1,2,193,NaN,NaN,4,171317,0,0,0,...,957620,13284,0.7,8.2,Neves,4,3,MID,39,Wolves
543,0,3,65,100.0,100.0,1,166324,0,0,-3,...,9236,673,0.9,4.2,Cavaleiro,1,3,MID,39,Wolves
544,0,0,68,100.0,100.0,4,165808,0,0,-1,...,51115,493,0.4,5.5,Costa,1,3,MID,39,Wolves
545,0,0,0,0.0,0.0,0,198847,0,0,-2,...,13208,92,0.0,0.0,Enobakhare,0,3,MID,39,Wolves
546,0,0,26,NaN,NaN,0,222531,0,0,-2,...,18439,491,0.2,1.4,Gibbs-White,1,3,MID,39,Wolves
547,1,4,201,NaN,NaN,4,19624,0,0,-1,...,201277,4399,0.3,7.4,Moutinho,1,3,MID,39,Wolves
548,0,2,81,100.0,100.0,0,159533,0,0,-2,...,57554,334,0.2,3.6,Traoré,1,3,MID,39,Wolves
549,0,0,0,100.0,100.0,0,151589,0,0,-2,...,24678,578,0.0,0.0,Dendoncker,0,3,MID,39,Wolves
550,5,6,174,100.0,100.0,5,102057,0,0,4,...,371162,13513,1.1,9.8,Jiménez,0,4,FWD,39,Wolves
551,1,0,19,NaN,NaN,0,141569,0,0,-3,...,53483,491,0.1,2.1,Bonatini,0,4,FWD,39,Wolves
552,0,0,0,0.0,0.0,0,219929,0,0,0,...,4668,34,0.0,0.0,Mir,0,4,FWD,39,Wolves